.header-body {
    /* height: 20%; */
    background-color: #054C73;
    display: flex;
    justify-content: space-between;
    color: white;
    width: 100%;
    padding: 10px 0% 10px 5%;

}

h2 {
    padding-top: .7%;
}

ul {
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
    width: 30%;

 
}
  ul>li {
    text-decoration: none;
    list-style: none;
    padding: 5%;
    font-size: 18px;
}




@media screen and (max-width:550px) {
    ul {
        padding-right: 5%;
        width: 50%;
        font-size: 16px;
    }

}